<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Custom CSS -->
  <!-- Those css minifined and combined together. See combined-min.css below -->
  <link rel="stylesheet" type="text/css" href="/css/basscss.min.css">
<!--  <link rel="stylesheet" type="text/css" href="/css/main.css">-->
  <link rel="stylesheet" type="text/css" href="/css/main.min.css" id="theme">
  <link rel="stylesheet" type="text/css" href="/css/chroma.css">
  <!-- Highlight -->
  <!-- Also minified and combined into combined-min.css
  <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->

  <!-- Fonts -->
  <!-- Combined and minified-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap" rel="stylesheet">

  <!--  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/combined-min.css">-->


</head>
<body>
